@charset "utf-8";

/* SP
*************************************************/

/* 基本設定
*************************************************/
html {
 height: 100%;
 line-height: 1;
 background: #ffffff;
 color: #2E2E2E;
 font-size: 62.5%;
}
body {
 margin: 0;
 padding: 0;
 border: 0;
 font-size: 1.4rem;
 line-height: 1.4;
 overflow-y: scroll;
 font-family: 游明朝, 'Yu Mincho', YuMincho, 'Hiragino Mincho ProN', 'Hiragino Mincho Pro', HGS明朝E, メイリオ, Meiryo, serif;
 word-break: normal;
 -webkit-text-size-adjust:100%;
}

article, aside, details, figcaption, include, footer, header, hgroup, main, nav, section, summary {
 display:block;
 margin:0;
 padding:0;
}
h1, h2, h3, h4, h5, h6, dl, dt, dd, p, blockquote, ul, ol, li {
 margin: 16px 0 0;
 padding: 0;
 font-size: 1.4rem;
 vertical-align: baseline;
 -webkit-overflow-wrap: break-word;
 -ms-overflow-wrap: break-word;
 overflow-wrap: break-word;
 -webkit-word-wrap: break-word;
 -ms-word-wrap: break-word;
 word-wrap: break-word;
}
figcaption, span {
 -webkit-overflow-wrap: break-word;
 -ms-overflow-wrap: break-word;
 overflow-wrap: break-word;
 -webkit-word-wrap: break-word;
 -ms-word-wrap: break-word;
 word-wrap: break-word;
}
audio, canvas, progress, video {
 display: inline-block;
 vertical-align: baseline;
}
audio:not([controls]) {
 display: none;
 height: 0;
}
[hidden], template {
 display: none;
}
abbr[title] {
 border-bottom: 1px dotted;
}
i {
 font-style: italic;
}
em {
 font-style:normal;
}
b, strong, em {
 font-weight: bold;
}
dfn {
 font-style: italic;
}
mark {
 background: #fffd30;
 color: #3c3c3c;
}
small {
 font-size: 100%;
}
sub,sup {
 font-size: 75%;
 line-height: 0;
 position: relative;
 vertical-align: baseline;
}
sup {
 top: -0.5em;
}
sub {
 bottom: -0.25em;
}
ul, ol {
 margin: 16px 0 0;
 padding: 0 0 0 2em;
}
li {
 margin: 8px 0 0;
}
img {
 border: 0;
 vertical-align: top;
}
img {
 -ms-interpolation-mode: bicubic;
}
svg:not(:root) {
 overflow: hidden;
}
hr {
 -moz-box-sizing: content-box;
 box-sizing: content-box;
 height: 0;
}
pre {
 overflow: auto;
}
code, kbd, pre, samp {
 font-family: monospace, monospace;
 font-size: 1em;
}
q{
 &:before,
 &:after {
  display: none;
 }
}
legend {
 border: 0;
 padding: 0;
}
optgroup {
 font-weight: bold;
}
table {
 border-collapse: collapse;
 border-spacing: 0;
}
td, th {
 padding: 0;
}

/* リンク
*************************************************/
a {
 color: #002984;
 text-decoration: none;
 transition: 0.3s all;
 &:link {
  color: #002984;
  text-decoration: none;
 }
 &:visited {
  color: #002984;
  text-decoration: none;
 }
 &:active,
 &:hover {
  color: #4466B1;
  text-decoration: underline;
 }
}

/* ボタン
*************************************************/
button {
 font-family: 游明朝, 'Yu Mincho', YuMincho, 'Hiragino Mincho ProN', 'Hiragino Mincho Pro', HGS明朝E, メイリオ, Meiryo, serif;
 cursor: pointer;
}
.btn-m1,
a.btn-m1 {
 position: relative;
 display: block;
 width: 100%;
 max-width: 300px;
 padding: 12px;
 margin: 0 auto;
 outline: 0;
 border: 1px solid #002984;
 background-color: #002984;
 color: #fff;
 font-size: 2.0rem;
 text-align: center;
 font-weight: bold;
 text-decoration: none;
 transition: 0.3s all;
 box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.3);
 box-sizing: border-box;
 &:hover {
  border-color: #4466B1;
  background-color: #4466B1;
 }
}

.btn-arrow-right,
a.btn-arrow-right {
 position: relative;
 padding-right: 40px;
 padding-left: 40px;
 &:after {
  content: '';
  width: 8px;
  height: 8px;
  border: 0px;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 50%;
  right: 16px;
  margin-top: -4px;
 }
}

/* アイコン
*************************************************/
.icon {
 display: inline-block;
 width: 48px;
 height: 48px;
 background-repeat: no-repeat;
 background-size: 48px 48px;
 background-position: center center;
}
.icon-design {
 background-image: url('/img/ic_monitor_1.svg');
}
.icon-coding {
 background-image: url('/img/ic_keyboard_1.svg');
}
.icon-about {
 background-image: url('/img/ic_person_1.svg');
}
.icon-works {
 background-image: url('/img/ic_handshake_1.svg');
}
.icon-twitter {
 background-image: url('/img/ic_twitter_1.svg');
}
.icon-instagram {
 background-image: url('/img/ic_instagram_1.svg');
}
.icon-github {
 background-image: url('/img/ic_github_1.svg');
}
.icon-youtube {
 background-image: url('/img/ic_youtube_1.svg');
}
.icon-qiita {
 background-image: url('/img/ic_qiita_1.svg');
}
.icon-note {
 background-image: url('/img/ic_note_1.svg');
}
.icon-behance {
 background-image: url('/img/ic_behance_1.svg');
}
.icon-pixiv {
 background-image: url('/img/ic_pixiv_1.svg');
}
.icon-blank {
 background-image: url('/img/ic_newtab_1.svg');
}
.icon-mail {
 background-image: url('/img/ic_mail_1.svg');
}

/* Vue
*************************************************/
[v-cloak] {
display: none;
}

/* ページ遷移時のアニメーション */
.page-transition-enter-active,
.page-transition-leave-active {
transition: opacity 0.8s ease;
}
.page-transition-enter,
.page-transition-leave-active {
opacity: 0;
}
.page-transition-enter-to,
.page-transition-leave {
opacity: 1;
}

/* コンテンツ表示用アニメーション */
.contents-enter-active,
.contents-leave-active {
transition: opacity 0.5s ease;
transition-delay: 0.8s;
}
.contents-enter,
.contents-leave-active {
opacity: 0;
}
.contents-enter-to,
.contents-leave {
opacity: 1;
}

/* 共通設定
*************************************************/
.pc-obj {
 display: none;
}
.sp-obj {
 display: block;
}

/* clearfix */
.clearfix {
 *zoom: 1;
 &:before,
 &:after {
  content: '';
  display: table;
 }
 &:after {
  clear: both;
 }
}

/* コンテンツ */
.inner {
padding: 0 3%;
margin: 0 auto;
width: 100%;
box-sizing: border-box;
}

.main-wrap {
margin: 0 auto;
padding: 56px 0 0;
}

.note {
font-size: 1.2rem;
}